<html lang="en">
    <head>
        <title>Github Leaderboard</title>
    </head>
    <body>
        <h1>Github Leaderboard</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Avatar</th>
                <th>Commits</th>
            </tr>
            {% for dev in devs %}
                <tr>
                    <td>{{ dev.login }}</td>
                    <td><img src="{{ dev.avatar }}" alt="dev-avatar" width="100" height="100"></td>
                    <td>{{ dev.commits }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
